
.teamContainer {
    text-align: center;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;
}

.fadedOut {
    opacity: 0.4;
}

.teamName {
    background-color: rgb(245, 159, 47);
    font-weight: bold;
    padding-bottom: 0px;
    height: 50px;
    margin-top: -50px;
    font-size: 45px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.teamAvatar {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.teamAvatar img {
    display: block;
    width: 210px;
    height: 180px;
    border-radius: 50%;

}

.scoreInput {
    border: 4px solid white;
    border-radius: 20px;
    
    font-weight: bold;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 24px -7px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 24px -7px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 24px -7px rgba(255, 255, 255, 1);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 2px #EE8202; /* width and color */
}

input {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 3px #EE8202; /* width and color */
    background-color: transparent;

    border: none;
}
